@charset 'utf-8';

/* Main Style */
html , body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.7rem;
}
/* Top Bar */
.fixed-top {
background-color: #0A1F44;
text-align: center;
color: white;
height: 2rem;
margin: auto;
padding-bottom: 0%;
font-size:  small;
}


.fixed-top .btn-danger {

    background-color: #E01705;
    color: white;
    height: 1.5rem;
    text-align: auto;
    font-size: small;
}

/* Navbar Style */
.navbar-expand-lg{
    background-color: white !important;
}
.navbar-expand-md .navbar-brand{
    font-size: 4rem;
    font-weight: bold;
    padding-top: 20rem ;
    
}
.navbar-nav .nav-item .nav-link{
    padding: 20 20px;
    color: #F8F8F8;
}

/* Showcase*/

.flex-container {
    padding: 6rem;
    display: flex;
    justify-content: space-between;
  }
  .flex-container .row{
      text-align: left;
  }
  .flex-container .row .image{

    text-align: center;
  }
.flex-container .h1{
    font-weight: bolder !important;
    color: darkblue;
}

.flex-container .span {
color: red;
}
.flex-container .btn-danger{
    border-radius: 15px;
}
.flex-container .btn-primary{

    background-color: rgb(2, 2, 100);
    border: none ;
    border-radius: 15px;
}
/*explore Area */
..flex-container .heading {
    padding: 6rem;
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
  }
 .heading{
    text-align: center;
  }
  .heading .p{
      color: red;
      text-shadow: whitesmoke;
      font-weight: 300px;
  }

  /*gride*/

  .grid-container {
    display: none;
    grid-gap: 10px;
    background-color:lightgrey;
    padding: 10px;
  }
  
 .grid-container .item2 {
    grid-area: 2 / 5 / 8;
  }
  